@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-[12px] lg:text-[14px]  font-preahvihear text-gray-100;
}

.hero-avatar {
  @apply relative bg-secondary bg-opacity-30 w-[400px] h-[500px]  rounded-full;
  background: url("assets/gradient.svg");
  background-repeat: no-repeat;
  animation: pulse 2s infinite linear alternate;
}

.hero-avatar img {
  @apply absolute z-10  right-0 left-0 mx-auto mx-auto top-1/2 -translate-y-1/2;
}

.work-experience {
  @apply relative;
}

.work-experience::before {
  @apply absolute w-full h-full opacity-70;
  content: "";
  background: url("assets/gradient.svg") center no-repeat;
}

.work-experience-case {
  @apply flex items-center gap-8 px-12 h-56 relative bg-third rounded-2xl overflow-hidden bg-opacity-40 backdrop-blur-md before:content-[""] before:w-full before:h-1 before:absolute before:top-0 before:left-0 before:bg-text;
}

.button-primary {
  @apply block w-fit text-sm bg-button hover:opacity-80 active:contrast-[1.05] duration-150 ease-in-out px-8 py-3 border border-gray-600 rounded-xl;
}

.project-case {
  @apply relative flex flex-col gap-8 mt-48 py-12;
}

.project-case .image {
  @apply w-full bg-[#2b0b3a] z-40 h-[400px] rounded-xl relative;
}

.project-case .gradient {
  @apply absolute -top-16 lg:-top-72 w-[900px];
}
