@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-[12px] lg:text-[14px]  font-preahvihear text-gray-100;
}

.hero-avatar {
  @apply relative bg-secondary bg-opacity-30 w-[400px] h-[500px]  rounded-full;
  background: url("assets/gradient.svg");
  background-repeat: no-repeat;
  animation: pulse 2s infinite linear alternate;
}

.hero-avatar img {
  @apply absolute z-10  right-0 left-0 mx-auto mx-auto top-1/2 -translate-y-1/2;
}

.work-experience {
  @apply relative;
}

.work-experience::before {
  @apply absolute w-full h-full opacity-70;
  content: "";
  background: url("assets/gradient.svg") center no-repeat;
}

.work-experience-case {
  @apply flex items-center gap-8 px-12 lg:h-64 py-8 lg:py-0 relative bg-third rounded-2xl overflow-hidden bg-opacity-40 backdrop-blur-md before:content-[""] before:w-full before:h-1 before:absolute before:top-0 before:left-0 before:bg-text;
}

.button-primary {
  @apply block w-fit text-sm bg-button hover:opacity-80 active:contrast-[1.05] duration-150 ease-in-out px-8 py-3 border border-gray-600 rounded-xl;
}

.button-secondary {
  @apply button-primary !bg-transparent;
}

.project-case {
  @apply relative flex flex-col-reverse gap-8 lg:py-32  rounded-2xl  border-button px-2 mb-16 lg:mb-0 lg:px-0;
}

.project-case .description {
  @apply lg:w-3/4 relative mt-16 lg:mt-20 z-50;
}

.project-case .description h4 {
  @apply text-text;
}

.project-case .description h3 {
  @apply text-3xl;
}

.project-case .description p.text {
  @apply absolute mt-12 bg-gray-800 bg-opacity-40 backdrop-blur-md rounded-xl p-8 w-full lg:w-[120%] z-50;
}

.project-case .description p.filler {
  @apply my-12 p-8 opacity-0;
}

.project-case .description > div {
  @apply flex gap-2;
}

.project-case .image {
  @apply w-full bg-[#2b0b3a] z-40 h-[400px] rounded-xl relative cursor-pointer hover:opacity-80 transition duration-150 ease-in;
}

.project-case .gradient {
  @apply absolute -top-16 lg:-top-72 w-[900px];
}
